<nz-layout>
    <app-header></app-header>
    <nz-layout>
      <nz-sider nzWidth="200px" nzTheme="light" nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0">
        <ul nz-menu nzMode="inline" class="sider-menu">
          <li nz-submenu nzOpen nzIcon="pie-chart" nzTitle="Dashboard">
            <ul>
              <li nz-menu-item routerLink="/dashboard/main" routerLinkActive="ant-menu-item-selected">หน้าหลัก</li>
              <li nz-menu-item routerLink="/dashboard/report" routerLinkActive="ant-menu-item-selected">สถิติการใช้งาน
              </li>
            </ul>
          </li>
        </ul>
      </nz-sider>
      <nz-layout class="inner-layout">
        <router-outlet></router-outlet>
        <!-- Footer -->
        <app-footer></app-footer>
      </nz-layout>
    </nz-layout>
  </nz-layout>